---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="font-semibold text-black dark:text-white">Hi! I'm Maira!</h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span>
              <p>
                Futures trader, programmer, photographer, plant lover/killer
                🌵💀
              </p>
              <p>
                I <Link href="/blog">write</Link> short essays about life and the
                little random things that interest me. To see what I'm up to lately,
                visit my <Link href="/now">now</Link> page.
              </p>
            </span>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> All posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">About</h2>
          <article>
            <p>
              Born in Brazil in 1984. Restless and imaginative. Always learning
              something new. After living in five countries, learning four
              foreign languages, changing careers three times, getting two dogs,
              and marrying only once, I seem to finally have settled in the
              countryside of Spain.
            </p>
            <p>
              Behind the scenes, this static site is powered by <Link
                external
                href="https://astro.build">Astro</Link
              >, <Link external href="https://tailwindcss.com">Tailwind</Link> and
              <Link external href="https://www.netlify.com">Netlify</Link>. The
              search is powered by <Link external href="https://pagefind.app"
                >Pagefind</Link
              > Check the repo on <Link
                external
                href="https://github.com/mairamartinsk/astro">Github</Link
              >.
            </p>
          </article>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            Let's Connect
          </h2>
          <article>
            <p>
              I'm not active on social media. The best way to connect with me is
              to put pen to paper (fingers to keyboard) and send me an email!
            </p>
          </article>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
